/* Utilisation de variables pour les couleurs */
/* Reference : https://developer.mozilla.org/fr/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --primary : #9356DC;
    --secondary : #FF79DA;
    --tertiary : #99E2D0;

    --light-secondary : #f5edfe;
    --dark-tertiary : #2f9e82;

    --dark-grey : #353535;
    --grey : #eaeaea; 
    --light-grey : #f6f6f6; 
    --white-smoke : #F5F5F5; 

    
}