/* RESTAURANTS */
.restaurants {
    background-color: var(--light-grey);              /* fond gris clair comme pour la partie Eploration */
    margin-top: 50px ; 
    padding: 20px;                                    /* bandeau gris pour la localisation *//*
    border: 2px dashed blue;*/
}
/*
.restaurants h2 {                                     /* caractéristiques du titre de la section identiques à fonctionnement => à optimiser*//*
    border: 2px dotted grey;
}*/
/*
.restaurants__cards {                                  /* bloc des cartes pour positionnement sur version desktop */ /*
    border: 2px dashed rgb(0, 255, 136);
}*/

.card-restau {     
    margin: 20px 0; 
    background-color: white;                                   /* bloc carte restaurant (image + texte + coeur) */
    display: grid;
    grid-template-columns: 1fr repeat(3, 20px);
    grid-template-rows: 1fr repeat(3, 20px);/*
    border: 2px dashed rgb(255, 0, 0);*/
}

.card-restau__picture {    
    display: grid;                                     /* picture : photo du restaurant qui contiendra l'img*/
    grid-area:1/1/2/5;/*
    background-color: lightgreen;*/
}

.card-restau__img {                                    /* img bords haut arrondis */
    width: 100%;
    height: 200px;
    object-fit: cover;/*
    border: 2px solid rgb(255, 0, 255);*/
}

.card-restau__place {                                    /* bloc comprenant le label + le lieu */
    display: grid;
    grid-area:2/1/5/2;/*
    background-color:  rgb(0, 217, 255);*/
}

.card-restau__heart {                                   /* bloc comprenant le coeur */
    display: grid;
    grid-area:3/3/4/4;/*
    background-color: rgb(55, 0, 170);*/
}

 
/* ============================================== */
/* --------- Restaurant : Nom - Lieu ------------ */
/* ============================================== */
.card-restau__label {
    padding: 12px 0 6px 6px;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.card-restau__loc {
    font-size: 14px;
    padding: 0 0 6px 6px;
    margin: 0;
}

/* ============================================== */
/* ------------------ Coeur ------------------- */
/* ============================================== */

.fa-heart {
    color: black;
}

.fa-heart:hover {
    color: var(--secondary);
}