.fonctionnement {
    margin: 50px 20px;
}

ol {
    padding: 0;/*
    border: 2px solid green;*/
}

.menu {
    width: 100%;
    padding: 20px;
    margin: 15px;
    margin-left: 0;
    background-color: var(--light-grey);
    font-weight: bold;/*
    border: 2px dashed blue;*/
    box-shadow: 0px 10px 10px var(--grey);
}
/*
ol li {/*
    border: 2px dotted red;*//*
    padding: 5px;
    
}*/

li i {
    margin-right: 15px;
}

/* ================================================================== */ 
/* ----- LIENS sans sous-lignage et avec changement au survol -----   */
/* ================================================================== */ 

a {
    text-decoration: none;/* souligné du lien */
    color: black;
}
/*
a:visited {
    color: black;
  }*/

i:hover {
    color:var(--primary);
}

.menu:hover {
    font-weight: bold;
    background-color: var(--light-secondary);
    opacity: 0.5;/*
    color: black;*/
}




