/* Footer - séparation du bloc précédent */
footer {
    background-color: var(--dark-grey);
    padding: 40px 20px 20px 20px;
    color: white;
}

footer a {
    color: white;
}

.footer__logo {
    font-family: var(--logo);
    font-size: 16px;
    font-weight: 100;
}

.footer__liens {
    color: white;
    display: grid;
    grid-template-columns: 20px 50px;
    grid-template-rows: repeat(4, 20px);
    background-color: red;
}

.fa-utensils{
    display: grid;
    grid-area: 1/1;
    text-align: left;
}

.lien--prop {
    display: grid;
    grid-area: 1/2/2/3;
}

.fa-handshake-angle {
    display: grid;
    grid-area: 2/1/3/2/;
}

.lien--part{
    display: grid;
    grid-area: 2/2/3/3;
}
.lien--mp {
    display: grid;
    grid-area: 3/1/3;
}
.lien--mail {
    display: grid;
    grid-area: 4/1/3;
}


/*   > 992 px : écran d'ordinateur */
@media screen and (min-width: 992px)      
{

}
