.fonctionnement {
    margin: 50px 20px;
}

ol {
    counter-reset: fonction;                /* On crée une nouvelle instance du
                                              compteur fonction avec chaque ol */
    list-style-type: none;
  }
  
ol li::before {
    counter-increment: fonction;            /* On incrémente uniquement cette
                                              instance du compteur */
    content: counters(fonction,".") " ";    /* On ajoute la valeur de toutes les
                                              instances séparées par ".". */
                                           /* Si on doit supporter < IE8 il faudra
                                              faire attention à ce qu'il n'y ait
                                              aucun blanc après ',' */
    border-radius: 35px;
    background-color: var(--primary);
    border: none;
    padding: 5px 8px ;
    color: white;
    margin-left: -30px;
  }


ol {
    padding: 0;/*
    border: 2px solid green;*/
}

.menu {
    width: 100%;
    padding: 20px;
    margin: 15px;
    margin-left: 0;
    background-color: var(--light-grey);
    font-weight: bold;
    box-shadow: 0px 10px 10px var(--grey);
}


li i {
    margin-right: 15px;
    margin-left: 15px;
}


/* ================================================================== */ 
/* -----  changement au survol -----   */
/* ================================================================== */ 


.fonctionnement i:hover {
    color:var(--primary);
}

.menu:hover {
    font-weight: bold;
    background-color: var(--light-secondary);
    box-shadow: 0px 10px 5px var(--grey);
    transition: 2s ease-out;
}






